{% extends 'base.html.twig' %}

{% block title %}Конференция{% endblock %}

{% block body %}
    <h2>Оставьте ваш отзыв!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>

        <p>
            <a href="{{ path('conference', { id:conference.id }) }}">Смотреть</a>
        </p>
    {% endfor %}
{% endblock %}
